<%= simple_form_for @user do |f| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, label_html: { style: 'display: block' } %>
  <%= f.input :email, label_html: { style: 'display: block' } %>
  <%= f.input :phone, label_html: { style: 'display: block' }, input_html: { data: { controller: "phone-mask" } } %>
  <%= f.input :cpf, label_html: { style: 'display: block' } %>

  <div>
    <%= f.button :submit %>
  </div>
<% end %>
