<%= simple_form_for user, html: { class: "user form" } do |f| %>


  <% if @user.errors.any? %>
    <div class="error-message">
      <%= @user.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true }%>
  <%= f.input :email%>
  <%= f.input :phone, input_html: { data: { controller: "input-mask", target: "input-mask.phone" } } %>
  <%= f.input :cpf, input_html: { data: { controller: "input-mask", target: "input-mask.cpf" } } %>

  <div>
    <%= link_to "Cancelar", users_path, class: "btn btn--light" %>
    <%= f.submit class: "btn btn--secondary"  %>
  </div>

<% end %>
