<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= user.cpf %>
  </p>

</div>

<div class="user">
  <div class="user__actions">
    <%= button_to "Excluir", user_path(user), method: :delete, class: 'btn btn--light' %>
    <%= link_to "Editar", edit_user_path(user), class: 'btn btn--light' %>
  </div>
</div>
