<main class="container">
  <div class="header">
    <h1>Usuários</h1>
    <%= link_to "Novo Usuário", new_user_path,
        class: "btn btn--primary",
        data: { turbo_frame: dom_id(User.new)}
    %>
  </div>

  <div class="container">
    <%= simple_form_for users_path, method: :get, html: { class: "user form" } do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>

  <%= turbo_frame_tag User.new %>

  <%= turbo_frame_tag "users" do %>
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  <% end %>
</main>
