<main class="container">
  <%= link_to sanitize("&larr; Voltar"), users_path %>
  <div class="header">
    <h1>
      <%= @user.name %>
    </h1>
    <p> <%= format_phone(@user.phone) %> </p>
    <p> <%= @user.email %> </p>
    <p> <%= format_cpf(@user.cpf) %> </p>
  </div>

  <div class="user__actions">
    <%= link_to "Edit this user", edit_user_path(@user) %> |
    <%= link_to "Destroy this user", @user, method: :delete%>
  </div>
</main>
