<main class="container">
  <%= link_to t('actions.back').html_safe , users_path %>
  <div class="header user show">
    <h1>
      <%= @user.name %>
    </h1>
    <p> <%= format_phone(@user.phone) %> </p>
    <p> <%= @user.email %> </p>
    <p> <%= format_cpf(@user.cpf) %> </p>
  </div>

  <div class="user__actions">
    <%= link_to t('actions.edit', model: t('activerecord.models.user')), edit_user_path(@user),
                class: 'btn btn--secondary' %>
    <%= button_to t('actions.destroy', model: t('activerecord.models.user')), @user,
                  method: :delete, class: 'btn btn--light' %>
  </div>
</main>
